body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz-container {
    width: 50%;
    text-align: center;
}

#quiz {
    margin-bottom: 20px;
}

.question {
    margin-top: 20px;
    font-size: 1.25rem; /* Increase the font size */
    margin-bottom: 20px;
}
    

.Answers-Container { 
    /* Adjust padding and margins as needed */
    padding: 2px;  /* Reduced padding */
}

.Labels {
    display: inline-block;
    width: 500px;
    padding: .75rem;
    transition: box-shadow .3s;
    margin: 10px;  /* Reduced margin */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.1) 0px 4px 6px -1px, rgba(255, 255, 255, 0.04) 0px 1px 0px inset;
    text-align: left; /* Align text to the left */
}

.Labels:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}